In [1]:
import pandas as pd
data5 = pd.read_csv('heart_2020_cleaned.csv', sep=',')

In [2]:
from funpymodeling import profiling_num, freq_tbl, status

In [28]:
pd.set_option('display.max_columns', None)
dataYes = data5[data5['HeartDisease']=='Yes']
dataYes[0:3]

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
5,Yes,28.87,Yes,No,No,6.0,0.0,Yes,Female,75-79,Black,No,No,Fair,12.0,No,No,No
10,Yes,34.30,Yes,No,No,30.0,0.0,Yes,Male,60-64,White,Yes,No,Poor,15.0,Yes,No,No
35,Yes,32.98,Yes,No,Yes,10.0,0.0,Yes,Male,75-79,White,Yes,Yes,Poor,4.0,No,No,Yes

In [27]:
pd.reset_option('display.max_columns')

In [3]:
status(data5)

            variable  q_nan  p_nan  q_zeros   p_zeros  unique     type
0       HeartDisease      0    0.0        0  0.000000       2   object
1                BMI      0    0.0        0  0.000000    3604  float64
2            Smoking      0    0.0        0  0.000000       2   object
3    AlcoholDrinking      0    0.0        0  0.000000       2   object
4             Stroke      0    0.0        0  0.000000       2   object
5     PhysicalHealth      0    0.0   226589  0.708545      31  float64
6       MentalHealth      0    0.0   205401  0.642290      31  float64
7        DiffWalking      0    0.0        0  0.000000       2   object
8                Sex      0    0.0        0  0.000000       2   object
9        AgeCategory      0    0.0        0  0.000000      13   object
10              Race      0    0.0        0  0.000000       6   object
11          Diabetic      0    0.0        0  0.000000       4   object
12  PhysicalActivity      0    0.0        0  0.000000       2   object
13         GenHealth      0    0.0        0  0.000000       5   object
14         SleepTime      0    0.0        0  0.000000      24  float64
15            Asthma      0    0.0        0  0.000000       2   object
16     KidneyDisease      0    0.0        0  0.000000       2   object
17        SkinCancer      0    0.0        0  0.000000       2   object

In [4]:
data5.shape

(319795, 18)

In [5]:
data5['HeartDisease'].value_counts()

HeartDisease
No     292422
Yes     27373
Name: count, dtype: int64

In [24]:
# Filtrar los casos en los que 'HeartDisease' es 'Yes'
df_yes = data5[data5['HeartDisease'] == 'Yes']

# Filtrar los casos en los que 'HeartDisease' es 'No' y obtener una muestra de 50000 casos
df_no_sample = data5[data5['HeartDisease'] == 'No'].sample(n=50000)

# Combinar los dos data frames
data5 = pd.concat([df_yes, df_no_sample])
data5['HeartDisease'].value_counts()

HeartDisease
No     50000
Yes    27373
Name: count, dtype: int64

In [29]:
status(data5)

            variable  q_nan  p_nan  q_zeros   p_zeros  unique     type
0       HeartDisease      0    0.0        0  0.000000       2   object
1                BMI      0    0.0        0  0.000000    2699  float64
2            Smoking      0    0.0        0  0.000000       2   object
3    AlcoholDrinking      0    0.0        0  0.000000       2   object
4             Stroke      0    0.0        0  0.000000       2   object
5     PhysicalHealth      0    0.0    50698  0.655241      31  float64
6       MentalHealth      0    0.0    50313  0.650266      31  float64
7        DiffWalking      0    0.0        0  0.000000       2   object
8                Sex      0    0.0        0  0.000000       2   object
9        AgeCategory      0    0.0        0  0.000000      13   object
10              Race      0    0.0        0  0.000000       6   object
11          Diabetic      0    0.0        0  0.000000       4   object
12  PhysicalActivity      0    0.0        0  0.000000       2   object
13         GenHealth      0    0.0        0  0.000000       5   object
14         SleepTime      0    0.0        0  0.000000      22  float64
15            Asthma      0    0.0        0  0.000000       2   object
16     KidneyDisease      0    0.0        0  0.000000       2   object
17        SkinCancer      0    0.0        0  0.000000       2   object

In [9]:
for columna in data5.columns:
    valores_unicos = data5[columna].unique()
    if len(valores_unicos) < 7:
        print(f"Valores únicos en la columna {columna}: {valores_unicos}")

Valores únicos en la columna HeartDisease: ['No' 'Yes']
Valores únicos en la columna Smoking: ['Yes' 'No']
Valores únicos en la columna AlcoholDrinking: ['No' 'Yes']
Valores únicos en la columna Stroke: ['No' 'Yes']
Valores únicos en la columna DiffWalking: ['No' 'Yes']
Valores únicos en la columna Sex: ['Female' 'Male']
Valores únicos en la columna Race: ['White' 'Black' 'Asian' 'American Indian/Alaskan Native' 'Other'
 'Hispanic']
Valores únicos en la columna Diabetic: ['Yes' 'No' 'No, borderline diabetes' 'Yes (during pregnancy)']
Valores únicos en la columna PhysicalActivity: ['Yes' 'No']
Valores únicos en la columna GenHealth: ['Very good' 'Fair' 'Good' 'Poor' 'Excellent']
Valores únicos en la columna Asthma: ['Yes' 'No']
Valores únicos en la columna KidneyDisease: ['No' 'Yes']
Valores únicos en la columna SkinCancer: ['Yes' 'No']

# 2. Ver columnas que son object

In [10]:
data4=data5.copy()

### 2.1 Relativizar el racismo

In [11]:
data4['Race'] = data4['Race'].replace({'White': 'Gringo', 'Black': 'Afro'})
data4['Race'].unique()

array(['Gringo', 'Afro', 'Asian', 'American Indian/Alaskan Native',
       'Other', 'Hispanic'], dtype=object)

### 2.2 Pasar de float a int

In [12]:
data4[['SleepTime', 'MentalHealth', 'PhysicalHealth']] = data4[['SleepTime', 'MentalHealth', 'PhysicalHealth']].astype(int)

In [13]:
status(data4)

            variable  q_nan  p_nan  q_zeros   p_zeros  unique     type
0       HeartDisease      0    0.0        0  0.000000       2   object
1                BMI      0    0.0        0  0.000000    3604  float64
2            Smoking      0    0.0        0  0.000000       2   object
3    AlcoholDrinking      0    0.0        0  0.000000       2   object
4             Stroke      0    0.0        0  0.000000       2   object
5     PhysicalHealth      0    0.0   226589  0.708545      31    int64
6       MentalHealth      0    0.0   205401  0.642290      31    int64
7        DiffWalking      0    0.0        0  0.000000       2   object
8                Sex      0    0.0        0  0.000000       2   object
9        AgeCategory      0    0.0        0  0.000000      13   object
10              Race      0    0.0        0  0.000000       6   object
11          Diabetic      0    0.0        0  0.000000       4   object
12  PhysicalActivity      0    0.0        0  0.000000       2   object
13         GenHealth      0    0.0        0  0.000000       5   object
14         SleepTime      0    0.0        0  0.000000      24    int64
15            Asthma      0    0.0        0  0.000000       2   object
16     KidneyDisease      0    0.0        0  0.000000       2   object
17        SkinCancer      0    0.0        0  0.000000       2   object

# 3. OHE & Yes No columns

In [14]:
data3=data4.copy()

In [15]:
for columna in data4:
    # Verificar si el tipo de dato es "object"
    if data4[columna].dtype == 'object':
        # Obtener los valores únicos de la columna
        valores_unicos = data4[columna].unique()
        
        # Imprimir los valores únicos de la columna con números secuenciales
        print(f"Valores únicos de la columna {columna}:")
        if len(valores_unicos) < 6:
            for indice, valor in enumerate(valores_unicos):
                print(f"{indice}. {valor}")
        print()

Valores únicos de la columna HeartDisease:
0. No
1. Yes

Valores únicos de la columna Smoking:
0. Yes
1. No

Valores únicos de la columna AlcoholDrinking:
0. No
1. Yes

Valores únicos de la columna Stroke:
0. No
1. Yes

Valores únicos de la columna DiffWalking:
0. No
1. Yes

Valores únicos de la columna Sex:
0. Female
1. Male

Valores únicos de la columna AgeCategory:

Valores únicos de la columna Race:

Valores únicos de la columna Diabetic:
0. Yes
1. No
2. No, borderline diabetes
3. Yes (during pregnancy)

Valores únicos de la columna PhysicalActivity:
0. Yes
1. No

Valores únicos de la columna GenHealth:
0. Very good
1. Fair
2. Good
3. Poor
4. Excellent

Valores únicos de la columna Asthma:
0. Yes
1. No

Valores únicos de la columna KidneyDisease:
0. No
1. Yes

Valores únicos de la columna SkinCancer:
0. Yes
1. No

In [16]:
data4_reemplazado = data4.copy()

# Iterar sobre las columnas del DataFrame
for columna in data4_reemplazado:
    # Verificar si el tipo de dato es "object"
    if data4_reemplazado[columna].dtype == 'object':
        # Obtener los valores únicos de la columna
        valores_unicos = data4_reemplazado[columna].unique()
        if len(valores_unicos) < 6:
            # Crear un diccionario de reemplazo
            diccionario_reemplazo = {valor: indice for indice, valor in enumerate(valores_unicos)}
            
            # Reemplazar los valores en la columna
            data4_reemplazado[columna] = data4_reemplazado[columna].map(diccionario_reemplazo)

# Imprimir el DataFrame con los valores reemplazados
print(data4_reemplazado)

        HeartDisease    BMI  Smoking  AlcoholDrinking  Stroke  PhysicalHealth  \
0                  0  16.60        0                0       0               3
1                  0  20.34        1                0       1               0
2                  0  26.58        0                0       0              20
3                  0  24.21        1                0       0               0
4                  0  23.71        1                0       0              28
...              ...    ...      ...              ...     ...             ...
319790             1  27.41        0                0       0               7
319791             0  29.84        0                0       0               0
319792             0  24.24        1                0       0               0
319793             0  32.81        1                0       0               0
319794             0  46.56        1                0       0               0

        MentalHealth  DiffWalking  Sex  AgeCategory      Race  Diabetic  \
0                 30            0    0        55-59    Gringo         0
1                  0            0    0  80 or older    Gringo         1
2                 30            0    1        65-69    Gringo         0
3                  0            0    0        75-79    Gringo         1
4                  0            1    0        40-44    Gringo         1
...              ...          ...  ...          ...       ...       ...
319790             0            1    1        60-64  Hispanic         0
319791             0            0    1        35-39  Hispanic         1
319792             0            0    0        45-49  Hispanic         1
319793             0            0    0        25-29  Hispanic         1
319794             0            0    0  80 or older  Hispanic         1

        PhysicalActivity  GenHealth  SleepTime  Asthma  KidneyDisease  \
0                      0          0          5       0              0
1                      0          0          7       1              0
2                      0          1          8       0              0
3                      1          2          6       1              0
4                      0          0          8       1              0
...                  ...        ...        ...     ...            ...
319790                 1          1          6       0              0
319791                 0          0          5       0              0
319792                 0          2          6       1              0
319793                 1          2         12       1              0
319794                 0          2          8       1              0

        SkinCancer
0                0
1                1
2                1
3                0
4                1
...            ...
319790           1
319791           1
319792           1
319793           1
319794           1

[319795 rows x 18 columns]

In [17]:
for columna in data4_reemplazado.columns:
    valores_unicos = data4_reemplazado[columna].unique()
    if len(valores_unicos) < 7:
        print(f"Valores únicos en la columna {columna}: {valores_unicos}")

Valores únicos en la columna HeartDisease: [0 1]
Valores únicos en la columna Smoking: [0 1]
Valores únicos en la columna AlcoholDrinking: [0 1]
Valores únicos en la columna Stroke: [0 1]
Valores únicos en la columna DiffWalking: [0 1]
Valores únicos en la columna Sex: [0 1]
Valores únicos en la columna Race: ['Gringo' 'Afro' 'Asian' 'American Indian/Alaskan Native' 'Other'
 'Hispanic']
Valores únicos en la columna Diabetic: [0 1 2 3]
Valores únicos en la columna PhysicalActivity: [0 1]
Valores únicos en la columna GenHealth: [0 1 2 3 4]
Valores únicos en la columna Asthma: [0 1]
Valores únicos en la columna KidneyDisease: [0 1]
Valores únicos en la columna SkinCancer: [0 1]

In [18]:
data2 = data4_reemplazado
status(data2)

            variable  q_nan  p_nan  q_zeros   p_zeros  unique     type
0       HeartDisease      0    0.0   292422  0.914405       2    int64
1                BMI      0    0.0        0  0.000000    3604  float64
2            Smoking      0    0.0   131908  0.412477       2    int64
3    AlcoholDrinking      0    0.0   298018  0.931903       2    int64
4             Stroke      0    0.0   307726  0.962260       2    int64
5     PhysicalHealth      0    0.0   226589  0.708545      31    int64
6       MentalHealth      0    0.0   205401  0.642290      31    int64
7        DiffWalking      0    0.0   275385  0.861130       2    int64
8                Sex      0    0.0   167805  0.524727       2    int64
9        AgeCategory      0    0.0        0  0.000000      13   object
10              Race      0    0.0        0  0.000000       6   object
11          Diabetic      0    0.0    40802  0.127588       4    int64
12  PhysicalActivity      0    0.0   247957  0.775362       2    int64
13         GenHealth      0    0.0   113858  0.356034       5    int64
14         SleepTime      0    0.0        0  0.000000      24    int64
15            Asthma      0    0.0    42872  0.134061       2    int64
16     KidneyDisease      0    0.0   308016  0.963167       2    int64
17        SkinCancer      0    0.0    29819  0.093244       2    int64

In [19]:
data_ohe = pd.get_dummies(data2, dtype=int)
status(data_ohe)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,HeartDisease,0,0.0,292422,0.914405,2,int64
1,BMI,0,0.0,0,0.000000,3604,float64
2,Smoking,0,0.0,131908,0.412477,2,int64
3,AlcoholDrinking,0,0.0,298018,0.931903,2,int64
4,Stroke,0,0.0,307726,0.962260,2,int64
5,PhysicalHealth,0,0.0,226589,0.708545,31,int64
6,MentalHealth,0,0.0,205401,0.642290,31,int64
7,DiffWalking,0,0.0,275385,0.861130,2,int64
8,Sex,0,0.0,167805,0.524727,2,int64
9,Diabetic,0,0.0,40802,0.127588,4,int64
10,PhysicalActivity,0,0.0,247957,0.775362,2,int64
11,GenHealth,0,0.0,113858,0.356034,5,int64
12,SleepTime,0,0.0,0,0.000000,24,int64
13,Asthma,0,0.0,42872,0.134061,2,int64
14,KidneyDisease,0,0.0,308016,0.963167,2,int64
15,SkinCancer,0,0.0,29819,0.093244,2,int64
16,AgeCategory_18-24,0,0.0,298731,0.934133,2,int64
17,AgeCategory_25-29,0,0.0,302840,0.946982,2,int64
18,AgeCategory_30-34,0,0.0,301042,0.941359,2,int64
19,AgeCategory_35-39,0,0.0,299245,0.935740,2,int64
20,AgeCategory_40-44,0,0.0,298789,0.934314,2,int64
21,AgeCategory_45-49,0,0.0,298004,0.931859,2,int64
22,AgeCategory_50-54,0,0.0,294413,0.920630,2,int64
23,AgeCategory_55-59,0,0.0,290038,0.906950,2,int64
24,AgeCategory_60-64,0,0.0,286109,0.894664,2,int64
25,AgeCategory_65-69,0,0.0,285644,0.893210,2,int64
26,AgeCategory_70-74,0,0.0,288730,0.902860,2,int64
27,AgeCategory_75-79,0,0.0,298313,0.932826,2,int64
28,AgeCategory_80 or older,0,0.0,295642,0.924473,2,int64
29,Race_Afro,0,0.0,296856,0.928270,2,int64
30,Race_American Indian/Alaskan Native,0,0.0,314593,0.983733,2,int64
31,Race_Asian,0,0.0,311727,0.974771,2,int64
32,Race_Gringo,0,0.0,74583,0.233221,2,int64
33,Race_Hispanic,0,0.0,292349,0.914176,2,int64
34,Race_Other,0,0.0,308867,0.965828,2,int64


# 3. Guardamos el dataFrame

In [20]:
filename = "data_ohe.csv"
data_ohe.to_csv(filename, index = False)

# 4. Lazy Gradio

In [21]:
# Params Name

columnas = list(data3.columns)
nombres_columnas = ',\n'.join(['"' + columna + '"' for columna in columnas])
print(nombres_columnas)

"HeartDisease",
"BMI",
"Smoking",
"AlcoholDrinking",
"Stroke",
"PhysicalHealth",
"MentalHealth",
"DiffWalking",
"Sex",
"AgeCategory",
"Race",
"Diabetic",
"PhysicalActivity",
"GenHealth",
"SleepTime",
"Asthma",
"KidneyDisease",
"SkinCancer"

In [22]:
columnas = list(data3.columns)
nombres_columnas = ',\n'.join([columna for columna in columnas])
nombres_columnas = nombres_columnas.rstrip() + ','
print(nombres_columnas)

HeartDisease,
BMI,
Smoking,
AlcoholDrinking,
Stroke,
PhysicalHealth,
MentalHealth,
DiffWalking,
Sex,
AgeCategory,
Race,
Diabetic,
PhysicalActivity,
GenHealth,
SleepTime,
Asthma,
KidneyDisease,
SkinCancer,

In [23]:
# Labels

import numpy as np
columnas4 = data4.columns
for columna in columnas4:


    valor_mas_frecuente = data4[columna].value_counts().idxmax()
    # Verifica el tipo de dato de la columna
    if np.issubdtype(data4[columna].dtype, np.number):
        if len(data4[columna].unique()) <= 5:
            codigo_columna = f"{columna} = gr.Radio(\n"
            codigo_columna += f"    label='{columna.title()}',\n"
            codigo_columna += f"    choices={data4[columna].unique().tolist()},\n"
            codigo_columna += f"    value={valor_mas_frecuente},\n"
            codigo_columna += f")\n"
            print(codigo_columna)
        else:
            codigo_columna = f"{columna} = gr.Slider(\n"
            codigo_columna += f"    label='{columna.title()}',\n"
            codigo_columna += f"    minimum={data4[columna].min()},\n"
            codigo_columna += f"    maximum={data4[columna].max()},\n"
            codigo_columna += f"    step=1,\n"
            codigo_columna += f"    randomize=True\n"
            codigo_columna += f")\n"
            print(codigo_columna)
    else:
        # Verifica la cantidad de valores únicos en la columna
        if len(data4[columna].unique()) <= 3:
            codigo_columna = f"{columna} = gr.Radio(\n"
            codigo_columna += f"    label='{columna.title()}',\n"
            codigo_columna += f"    choices={data4[columna].unique().tolist()},\n"
            codigo_columna += f"    value='{valor_mas_frecuente}',\n"
            codigo_columna += f")\n"
            print(codigo_columna)
        else:
            codigo_columna = f"{columna} = gr.Dropdown(\n"
            codigo_columna += f"    label='{columna.title()}',\n"
            codigo_columna += f"    choices={data4[columna].unique().tolist()},\n"
            codigo_columna += f"    multiselect=False,\n"
            codigo_columna += f"    value='{valor_mas_frecuente}',\n"
            codigo_columna += f")\n"
            print(codigo_columna)

HeartDisease = gr.Radio(
    label='Heartdisease',
    choices=['No', 'Yes'],
    value='No',
)

BMI = gr.Slider(
    label='Bmi',
    minimum=12.02,
    maximum=94.85,
    step=1,
    randomize=True
)

Smoking = gr.Radio(
    label='Smoking',
    choices=['Yes', 'No'],
    value='No',
)

AlcoholDrinking = gr.Radio(
    label='Alcoholdrinking',
    choices=['No', 'Yes'],
    value='No',
)

Stroke = gr.Radio(
    label='Stroke',
    choices=['No', 'Yes'],
    value='No',
)

PhysicalHealth = gr.Slider(
    label='Physicalhealth',
    minimum=0,
    maximum=30,
    step=1,
    randomize=True
)

MentalHealth = gr.Slider(
    label='Mentalhealth',
    minimum=0,
    maximum=30,
    step=1,
    randomize=True
)

DiffWalking = gr.Radio(
    label='Diffwalking',
    choices=['No', 'Yes'],
    value='No',
)

Sex = gr.Radio(
    label='Sex',
    choices=['Female', 'Male'],
    value='Female',
)

AgeCategory = gr.Dropdown(
    label='Agecategory',
    choices=['55-59', '80 or older', '65-69', '75-79', '40-44', '70-74', '60-64', '50-54', '45-49', '18-24', '35-39', '30-34', '25-29'],
    multiselect=False,
    value='65-69',
)

Race = gr.Dropdown(
    label='Race',
    choices=['Gringo', 'Afro', 'Asian', 'American Indian/Alaskan Native', 'Other', 'Hispanic'],
    multiselect=False,
    value='Gringo',
)

Diabetic = gr.Dropdown(
    label='Diabetic',
    choices=['Yes', 'No', 'No, borderline diabetes', 'Yes (during pregnancy)'],
    multiselect=False,
    value='No',
)

PhysicalActivity = gr.Radio(
    label='Physicalactivity',
    choices=['Yes', 'No'],
    value='Yes',
)

GenHealth = gr.Dropdown(
    label='Genhealth',
    choices=['Very good', 'Fair', 'Good', 'Poor', 'Excellent'],
    multiselect=False,
    value='Very good',
)

SleepTime = gr.Slider(
    label='Sleeptime',
    minimum=1,
    maximum=24,
    step=1,
    randomize=True
)

Asthma = gr.Radio(
    label='Asthma',
    choices=['Yes', 'No'],
    value='No',
)

KidneyDisease = gr.Radio(
    label='Kidneydisease',
    choices=['No', 'Yes'],
    value='No',
)

SkinCancer = gr.Radio(
    label='Skincancer',
    choices=['Yes', 'No'],
    value='No',
)